/* Header */
.header {
  text-align: center;
  padding-bottom: 5px;
  background: linear-gradient(
      to left,
      #ffbf35 0%,
      #ffbf35 33%,
      #ff495d 66%,
      #ff495d 100%
    )
    left bottom #ffffff no-repeat;
  background-size: 100% 1px;
}

/* Top header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  overflow: hidden;
}

/* Bottom header */
.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-size: 14px;
  overflow: hidden;
}

.bottom-header-pupolar-actions > *,
.bottom-header-pupolar-cats > * {
  padding-right: 16px;
  color: #222203;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.ant-dropdown-link {
  color: #222203;
}

/* Logo */
.logo-img {
  height: 70px;
  width: 70px;
}

/* Search input */
.search-input {
  width: calc(100% - 370px);
  max-width: 400px;
}

.top-header .ant-input {
  background-color: #f8f8f8;
}

/* Shopping cart btn */
.shopping-cart-btn {
  display: block;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.shopping-cart-btn > * {
  padding: 8px 0 8px 8px;
}
